{% extends 'base.html' %}

{% block title %}FitTrackee - Activities{% endblock %}

{% block content %}

        <div class="container">
          <h2 class="ft_title">Activities </h2>
            <div class="row">
              <div class="col-md-6">
                <div class="card text-center ft_activities">
                      <div class="card-header">
                        Statistics
                      </div>
                      <div class="card-body">
                        <canvas id="activityChart" width="400" height="400"></canvas>
                      </div>
                </div>
                <div class="card text-center ft_activities">
                      <div class="card-header">
                        Calendar
                      </div>
                      <div class="card-body">

                      </div>
                </div>
              </div>
              <div class="col-md-6">
                {% if activities %}
                <ul>
                {% for activity in activities %}
                  <div class="card text-center ft_activities">
                      <div class="card-header">
                        <a class="nav-link" href='/activities/{{activity.id}}'>{{ activity }}</a>
                      </div>
                      <div class="card-body">
                          <p><i class="fa fa-calendar" aria-hidden="true"></i> Start at
                              {{activity.activity_date | date:"M d, Y"}} {{activity.activity_date | time:"H:i:s"}} </p>
                          <p><i class="fa fa-clock-o" aria-hidden="true"></i> Duration:
                              {{activity.duration}} - <i class="fa fa-road" aria-hidden="true"></i>
                              Distance: {{activity.distance}}km</p>
                      </div>
                  </div>
                  {% endfor %}
                </ul>
                {% else %}
                <p>No activities for now...</p>
                {% endif %}
              </div>
            </div>
        </div>


{% endblock %}

{% block jsscript %}
    <script src='https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.19.1/moment.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.min.js'></script>
{% endblock %}

    <script>
{% block jquery %}

        var endpoint = '/api/activities/';
        var activitiesData = [];
        var labels = [];
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function(data){
                labels = data.labels;
                activitiesData = data.activities;
                setChart();
            },
            error: function(error_data){
                console.log("error");
                console.log(error_data);
            }
        });

        function setChart(){
            var ctx = document.getElementById("activityChart");
            var myChart = new Chart(ctx, {
                type: 'bar',
                data: {
                    labels: labels,
                    datasets: activitiesData
                },
                options: {
                    scales: {
                        xAxes: [{
                            stacked: true,
                            type: 'time'
                        }],
                        yAxes: [{
                            stacked: true,
                            ticks: {
                                beginAtZero: true
                            }
                        }]
                    }
                }
            });
        }


{% endblock %}
    </script>