{% extends 'base.html' %}

{% block title %}FitTrackee - Users{% endblock %}

{% block content %}

        <div class="container ft_profileForm">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-8">
                    {% if ft_users %}
                    <ul>
                    {% for ft_user in ft_users %}
                      <div class="card ft_activities">
                          <div class="card-header">
                              <a href="/user/{{ft_user.id}}">{{ft_user.username}}</a>
                              {% if ft_user.id != request.user.id %}
                                  {% if ft_user in request.user.follows.all and request.user in ft_user.follows.all %}
                                  <a href="#" class="badge badge-primary friendAction"
                                     id="removeFriend-{{ft_user.id}}"><i
                                          class="fa fa-user-times"></i></a>
                                  {% elif ft_user in request.user.follows.all and not request.user in ft_user.follows.all %}
                                  <span class="badge badge-warning"><i class="fa fa-user"></i>
                                      friend request pending</span>
                                  {% elif not ft_user in request.user.follows.all and request.user in ft_user.follows.all %}
                                  <a href="#" class="badge badge-info friendAction"
                                     id="addFriend-{{ft_user.id}}"><i class="fa fa-user-plus"></i>
                                      waiting your response</a>
                                  {% else %}
                                  <a href="#" class="badge badge-secondary friendAction"
                                     id="addFriend-{{ft_user.id}}">
                                      <i class="fa fa-user-plus"></i></a>
                                  {% endif %}
                              {% endif %}
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-8">
                                      <p>Joined: {{ft_user.date_joined}}</p>
                                      <p>Activities: {{ft_user.get_activities_count}}</p>
                                  </div>

                                  {% if ft_user.picture %}
                                  <div class="col-md-4 mx-auto d-block text-center">
                                      <img src="/media/{{ ft_user.picture }}"
                                           class="img-fluid ft_profile-img-small">
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <p>No users for now...</p>
                    {% endif %}
                </div>
                <div class="col-md-2"></div>
            </div>
        </div>

{% endblock %}

    <script>
{% block jquery %}

$('.friendAction').click(function () {

    var id = $(this).attr("id");
    var action = id.split("-");
    var url = '/user/{{ request.user.id }}/' + action[0] + '/' + action[1];

    $.ajax({
    method: "GET",
    url: url,
    success: function(data){
        window.location = "/users"
        },
        error: function(error_data){
            console.log("error");
            console.log(error_data);
        }
    });
});

{% endblock %}
    </script>