{% extends 'base.html' %}

{% block title %}FitTrackee - {{ft_user.username}}{% endblock %}

{% block content %}

        <div class="container">
            <h2 class="ft_title">Profile</h2>
            <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">
                        {{ ft_user.username }}
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-8">
                                  <p>First name : {{ ft_user.first_name }}</p>
                                  <p>Last name : {{ ft_user.last_name }}</p>
                                  <p>Email : {{ ft_user.email }}</p>
                                  <p>Bio : {{ ft_user.bio }}</p>
                                  <p>Location : {{ ft_user.location }}</p>
                                  <p>Birth date : {{ ft_user.birth_date }}</p>
                                  <p>Registration date : {{ ft_user.date_joined }}</p>
                              </div>
                              {% if ft_user.picture %}
                              <div class="col-md-4 mx-auto d-block text-center">
                                  <img src="/media/{{ ft_user.picture }}"
                                       class="img-fluid ft_profile-img">
                              </div>
                              {% endif %}
                          </div>
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header">
                        Last activities
                      </div>
                      <div class="card-body">
                        {% if activities %}
                          <ul>
                        {% for activity in activities %}
                            <li class="nav-item">
                              <a class="nav-link" href='/activities/{{activity.id}}'>{{activity}}</a>
                            </li>
                        {% endfor %}
                          </ul>
                        {% else %}
                          <p>No activities for now...</p>
                        {% endif %}
                      </div>
                    </div>
              </div>
            </div>
            <div class="row">
                <div class="col-md-8">
                    {% if activity.likes.all > 0 %}
                    <ul>
                    {% for friend in activity.likes.all %}
                      <div class="card text-center ft_activities">
                          <div class="card-body">
                            {{friend.name}}
                          </div>
                      </div>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <br>
                    <p class="text-center">No friends for now...</p>
                    {% endif %}
                    <p class="text-center"><a href="#">Search for friends</a></p>
                </div>
            </div>
        </div>

{% endblock %}