{% extends 'base.html' %}

{% block title %}FitTrackee - Profile{% endblock %}

{% block content %}

        <div class="container">
            <h2 class="ft_title">Profile</h2>
            <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">
                        {{ request.user.username }} <a href="{% url 'user:edit' %}"><i
                              class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-8">
                                  <p>First name : {{ request.user.first_name }}</p>
                                  <p>Last name : {{ request.user.last_name }}</p>
                                  <p>Email : {{ request.user.email }}</p>
                                  <p>Bio : {{ request.user.bio }}</p>
                                  <p>Location : {{ request.user.location }}</p>
                                  <p>Birth date : {{ request.user.birth_date }}</p>
                                  <p>Registration date : {{ request.user.date_joined }}</p>
                              </div>
                              {% if request.user.picture %}
                              <div class="col-md-4 mx-auto d-block text-center">
                                  <img src="/media/{{ request.user.picture }}"
                                       class="img-fluid ft_profile-img">
                                  <p><a href="{% url 'user:delete-avatar' %}">delete image</a></p>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header">
                        Last activities
                      </div>
                      <div class="card-body">
                        {% if activities %}
                          <ul>
                        {% for activity in activities %}
                            <li class="nav-item">
                              <a class="nav-link" href='/activities/{{activity.id}}'>{{activity}}</a>
                            </li>
                        {% endfor %}
                          </ul>
                        {% else %}
                          <p>No activities for now...</p>
                        {% endif %}
                      </div>
                    </div>
              </div>
            </div>

            <div class="row">
                <div class="col-md-8">

                    {% if request.user.follows.all %}
                    <ul>
                        <br><h3>Friends</h3>
                    {% for friend in request.user.follows.all %}
                      <div class="card ft_activities">
                          <div class="card-header">
                              <a href="/user/{{friend.id}}">{{friend.username}}</a>
                              {% if ft_user.id != request.user.id %}
                                  {% if friend in request.user.follows.all and request.user in friend.follows.all %}
                                  <a href="#" class="badge badge-primary friendAction"
                                     id="removeFriend-{{friend.id}}"><i
                                          class="fa fa-user-times"></i></a>
                                  {% elif friend in request.user.follows.all and not request.user in friend.follows.all %}
                                  <span class="badge badge-warning"><i class="fa fa-user"></i>
                                      friend request pending</span>
                                  {% elif not friend in request.user.follows.all and request.user in friend.follows.all %}
                                  <a href="#" class="badge badge-info friendAction"
                                     id="addFriend-{{friend.id}}"><i class="fa fa-user-plus"></i>
                                      waiting your response</a>
                                  {% endif %}
                              {% endif %}
                          </div>
                          <div class="card-body">
                              <div class="row">
                                  <div class="col-md-8">
                                      <p>Joined: {{friend.date_joined}}</p>
                                      <p>Activities: {{friend.get_activities_count}}</p>
                                  </div>

                                  {% if friend.picture %}
                                  <div class="col-md-4 mx-auto d-block text-center">
                                      <img src="/media/{{ friend.picture }}"
                                           class="img-fluid ft_profile-img-small">
                                  </div>
                                  {% endif %}
                              </div>
                          </div>
                      </div>
                      {% endfor %}
                    </ul>
                    {% else %}
                    <br>
                    <p class="text-center">No friends for now...</p>
                    {% endif %}
                    <p class="text-center"><a href="{% url 'users:index' %}">Search for
                        friends</a></p>
                </div>
            </div>
        </div>

{% endblock %}

    <script>
{% block jquery %}

$('.friendAction').click(function () {

    var id = $(this).attr("id");
    var action = id.split("-");
    var url = '/user/{{ request.user.id }}/' + action[0] + '/' + action[1];

    $.ajax({
    method: "GET",
    url: url,
    success: function(data){
        window.location = "/profile"
        },
        error: function(error_data){
            console.log("error");
            console.log(error_data);
        }
    });
});

{% endblock %}
    </script>