{% extends 'base.html' %}

{% block title %}FitTrackee - Profile{% endblock %}

{% block content %}

        <div class="container">
          <h2 class="ft_title">Profile</h2>
            <div class="row">
              <div class="col-md-8">
                  <div class="card">
                      <div class="card-header">
                        {{ request.user.username }} <a href="{% url 'user:edit' %}"><i
                              class="fa fa-pencil-square-o" aria-hidden="true"></i></a>
                      </div>
                      <div class="card-body">
                          <div class="row">
                              <div class="col-md-8">
                                  <p>First name : {{ request.user.first_name }}</p>
                                  <p>Last name : {{ request.user.last_name }}</p>
                                  <p>Email : {{ request.user.email }}</p>
                                  <p>Bio : {{ request.user.bio }}</p>
                                  <p>Location : {{ request.user.location }}</p>
                                  <p>Birth date : {{ request.user.birth_date }}</p>
                                  <p>Registration date : {{ request.user.date_joined }}</p>
                              </div>
                              {% if request.user.picture %}
                              <div class="col-md-4 mx-auto d-block text-center">
                                  <img src="/media/{{ request.user.picture }}"
                                       class="img-fluid ft_profile-img">
                                  <p><a href="{% url 'user:delete-avatar' %}">delete image</a></p>
                              </div>
                              {% endif %}
                          </div>
                      </div>
                    </div>
              </div>
              <div class="col-md-4">
                  <div class="card">
                      <div class="card-header">
                        Last activities
                      </div>
                      <div class="card-body">
                        {% if activities %}
                          <ul>
                        {% for activity in activities %}
                            <li class="nav-item">
                              <a class="nav-link" href='/activities/{{activity.id}}'>{{activity}}</a>
                            </li>
                        {% endfor %}
                          </ul>
                        {% else %}
                          <p>No activities for now...</p>
                        {% endif %}
                      </div>
                    </div>
              </div>
            </div>
        </div>

{% endblock %}